.btn-primary {
  background: $primaryColor;
  border-color: $primaryColor;

  &:hover,
  &:focus,
  &:active {
    background: $primaryColorHover;
    border-color: $primaryColorHover;
  }

  &.focus,
  &:focus {
    box-shadow: 0 0 0 0.2rem #ffd965 !important;
  }
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  background: $primaryColorHover;
  border-color: $primaryColorHover;
}

.btn-secondary {
  background: $secondaryColor;
  border-color: $secondaryColor;

  &:hover,
  &:focus,
  &:active {
    background: $secondaryColorHover;
    border-color: $secondaryColorHover;
  }

  &.focus,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgb(156, 217, 247) !important;
  }
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
  background: $secondaryColorHover;
  border-color: $secondaryColorHover;
}