* {
  @include border-radius(0);
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: $font;
}

.browsehappy span {
  display: block;
  padding: 30px;
  text-align: center;
  font-size: 26px;
}

[v-cloak] {
  display: none;
}

.full-width {
  width: 100%;
}

.hover-effect {
  @include transition(all 0.4s ease-in-out);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.aligncenter {
  height: auto;
}

.alignright {
  float:right;
}

.alignleft {
  float: left;
}

img.size-full {
  max-width: 100%;
}

img.small-feature-image {
  width: 64px;
  height: 64px;
}

.light-title {
  font-weight: 300;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.hidden {
  display: none;
}

.a-vote {
  position: absolute;
  top: 10px;
  right: 12px;
  line-height: 1;
  font-size: 1.5rem;
  color: #f95252;

  &:hover {
    color: #ff4242;
  }
}

.footer-page {
  padding: 30px 0;
  text-align: center;
  background-color: rgba(0,0,0,.03);
}

.share {
  margin: 20px 0;
  padding: 15px 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;

  span {
    margin-right: 15px;
  }

  .social {
    width: 32px;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    text-align: center;
    margin-right: 5px;

    border-radius: 50%;
    border: 1px solid #e1e1e1;

    &:hover {
      background: #ccc;
    }

    &:last-child {
      margin-right: 0;
    }

    &.share-facebook {
      background: #4267b2;
      border-color: #4267b2;
      color: #fff;

      &:hover {
        background: #fff;
        color: #4267b2;
      }
    }

    &.share-twitter {
      background: #4AB3F4;
      border-color: #4AB3F4;
      color: #fff;

      &:hover {
        background: #fff;
        color: #4AB3F4;
      }
    }
  }
}

.alert-warning {
  border-color: #d0bb7c;
}

.alert-info {
  background-color: rgba(44, 166, 225, 0.4);
}

.border-primary {
  border-color: $primaryColor !important;
}

.bg-primary-light {
  background: #ffefbc;
}

.sidebar {
  .media {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 1em;
    margin-bottom: 1em;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .media h5 {
    font-size: 1.1em;

    a {
      color: inherit;
    }
  }
}

// ---------- Event
.event-body {
  min-height: 300px;
  background: #fff;
  padding: 15px 15px 60px 15px;
  border-radius: 4px;
  border: 1px solid #edd178;
  position: relative;

  .__page {
    position: absolute;
    bottom: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.item-name {
  color: #b55837;
}

.item-icon {
  border: 1px solid #d29f8d;
  border-radius: 4px;
}

.alert .item-con {
  border-color: #fff;
}

.li-q0 {
  background: #e0f2f1;
}

.li-q1 {
  background: #b2dfdb;
}