@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

@mixin font-face($name, $dir) {
  @font-face {
    font-family: $name;
    src:      url($dir + '.eot');
    src:      url($dir + $name + '.eot?#iefix') format('embedded-opentype'),
              url($dir + $name + '.woff2') format('woff2'),
              url($dir + $name + '.woff') format('woff'),
              url($dir + $name + '.ttf') format('truetype'),
              url($dir + $name + '.svg#' + $name) format('svg');
    font-style: normal;
    font-weight: normal;
  }
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie);
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}