.navbar {
  border: 1px solid #e1e1e1;
}

.navbar-light .navbar-text a {
  color: #fff;

  &:hover,
  &:focus,
  &:focus:active {
    color: #fff;
  }
}

.navbar-brand img {
  height: 44px;
  width: auto;
}