a,
a:focus,
a:hover,
a:active,
button,
button:hover {
  outline: 0 !important;
  text-decoration: none;
}

.black {
	color: #000;
}

.white {
	color: #fff;
}

.text-primary-color {
  color: $primaryColor;
}

.text-secondary-color {
  color: $secondaryColor;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: rgba(44, 166, 225, 0.9);
}