@import "varibles";
@import "mixin";

h1 {
  color: $primaryColorHover;
}

.row-server-status {
  width: 300px;
  margin: 0 auto;

  i {
    font-size: 20px;
  }

  i.ok {
    color: #5ce27b!important;
  }

  i.failed {
    color: #dc3545!important;
  }
}

.col-socials {
  .btn {
    width: 45px;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  i {
    font-size: 20px;
  }
}

.row-rates {
  width: 600px;
  margin: 0 auto;

  span {
    font-size: 24px;
  }
}

.title-information {
  display: inline-block;
}

.ingame-num {
  font-size: 26px;
  color: $primaryColor;
}

.col-function {
  h2 {
    color: $primaryColor;
  }

  .card,
  .card-footer {
    border-color: $primaryColorHover;
  }
}

@media (max-width: 991.98px) {
  h1 {
    margin-top: 20px;
    text-align: center;
  }

  .col-present {
    text-align: justify;
  }
}

@media (max-width: 767.98px) {
  .row-server-ingame {
    [class*=col-] {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .row-rates,
  .row-server-status {
    width: 100%;
  }

  .row-rates .col div:first-child {
    font-size: 13px;
  }

  .row-server-status i {
    display: block;
  }

  .title-server-status {
    margin-bottom: 15px;
  }
}

@media (max-width: 320px) {
  .row-rates .col div:first-child {
    font-size: 10px;
  }
}