@import "varibles";
@import "mixin";

h1 {
  text-align: center;
}

.post-album-title {
  margin-top: 10px;
  color: $primaryColorHover;
  font-weight: 300;
  text-align: center;
}

.cbp-item-album h3 {
  padding: 10px 15px;
  color: $primaryColor;
  font-weight: 300;
  text-align: center;
  font-size: 22px;
}

.cbp img.img-thumbnail {
  border: 1px solid #dee2e6;
  border-radius: .25rem;
}

.cbp-popup-lightbox-figure {
  img {
    margin: 0 auto;
  }
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 24px;
  }
}