@import "varibles";
@import "mixin";

.frst-container,
.content {
  max-width: 1200px;
  padding: 40px 15px;
  margin: 0 auto;
}

.frst-container {
  margin: 20px auto 0;
}

.mobile-window .frst-container {
  max-width: 678px;
}

.tablet-window .frst-container {
  max-width: 992px;
}

.frst-container.content-right-align,
.frst-container.content-left-align {
  max-width: 678px;
}

.page {
  .frst-timeline-style-18 .frst-labels span {
    background: $primaryColor;
    box-shadow: 0 0 0 2px $primaryColorHover;
    -webkit-box-shadow: 0 0 0 2px $primaryColorHover;
  }

  .frst-timeline-style-18 .frst-timeline-content-inner {
    border: 2px solid $secondaryColor;
  }

  .frst-timeline-style-18.frst-alternate .frst-odd-item .frst-timeline-content-inner::before {
    border-left-color: $secondaryColor;
  }

  .frst-timeline-style-18 .frst-timeline-content-inner::before {
    border-right-color: $secondaryColor;
  }

  .frst-timeline-style-18 .frst-timeline-img {
    color: $secondaryColor;
  }

  .frst-timeline-style-18 .frst-timeline-img span {
    box-shadow: 0 0 0 2px $secondaryColor;
    -webkit-box-shadow: 0 0 0 2px $secondaryColor;
  }

  .frst-timeline-style-18 .frst-timeline-block::before {
    background: $secondaryColorHover;
  }

  .frst-timeline-style-18 h2 {
    color: $secondaryColor;
    font-weight: 400;
  }

  .frst-timeline-style-18 p {
    font-weight: 300;
    color: #000;
  }

  .frst-timeline-style-18 .frst-timeline-block.active .frst-timeline-content-inner {
    border-color: $primaryColor;
  }

  .frst-timeline-style-18 .frst-timeline-block.active .frst-timeline-content-inner:before {
    border-right-color: $primaryColor !important;
  }

  .frst-timeline-style-18.frst-alternate .frst-timeline-block.active.frst-odd-item .frst-timeline-content-inner::before {
    border-left-color: $primaryColor !important;
  }

  .frst-timeline-style-18 .frst-timeline-block.active .frst-timeline-img {
    color: $primaryColor;
  }

  .frst-timeline-style-18 .frst-timeline-block.active .frst-timeline-img span {
    box-shadow: 0 0 0 2px $primaryColor;
    -webkit-box-shadow: 0 0 0 2px $primaryColor;
  }
}


@media (max-width: 575.98px) {
  .frst-timeline-style-18 {
    margin-left: 22px;
  }

  .frst-timeline-block {
    padding-right: 0;
  }

  .frst-timeline-style-18 .frst-timeline-img {
    left: -5px;
  }

  .frst-timeline-img {
    left: -6px;
  }

  .frst-timeline-style-18 .frst-timeline-content-inner img {
    float: none;
    margin-bottom: 10px;
  }

  .frst-timeline-style-18 .frst-date {
    font-size: 10px;
  }

  .frst-timeline-style-18 .frst-timeline-content-inner {
    padding: 16px;
  }

  .frst-timeline-style-18 .frst-timeline-content-inner .text-content {
    left: 0;
  }
}