@import "varibles";
@import "mixin";

h1 {
  margin-bottom: 15px;
}

.sidebar {
  margin-top: 0;
}

.tags {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #e1e1e1;
  padding-top: 15px;
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 20px;
  }

  .card-title a {
    color: #000;
    font-size: 22px;
  }

  .card-title {
    line-height: 28px;
  }
}