a, a:focus, a:hover, a:active, button, button:hover {
  outline: 0 !important;
  text-decoration: none;
}
.black {
  color: #000;
}
.white {
  color: #fff;
}
.text-primary-color {
  color: #f4bc0d;
}
.text-secondary-color {
  color: #2ba6e1;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: rgba(44, 166, 225, 0.9);
}
.btn-primary {
  background: #f4bc0d;
  border-color: #f4bc0d;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #e6b20d;
  border-color: #e6b20d;
}
.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #ffd965 !important;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background: #e6b20d;
  border-color: #e6b20d;
}
.btn-secondary {
  background: #2ba6e1;
  border-color: #2ba6e1;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background: #239ad4;
  border-color: #239ad4;
}
.btn-secondary.focus, .btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem #9cd9f7 !important;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  background: #239ad4;
  border-color: #239ad4;
}
/*--------------------- SPACES -----------------------*/
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.content-xs {
  padding-top: 20px;
  padding-bottom: 20px;
}
.content {
  padding-top: 40px;
  padding-bottom: 40px;
}
.content-sm {
  padding-top: 60px;
  padding-bottom: 60px;
}
.content-md {
  padding-top: 80px;
  padding-bottom: 80px;
}
.content-lg {
  padding-top: 100px;
  padding-bottom: 100px;
}
.margin-bottom-5, .margin-bottom-10, .margin-bottom-15, .margin-bottom-20, .margin-bottom-25, .margin-bottom-30, .margin-bottom-35, .margin-bottom-40, .margin-bottom-45, .margin-bottom-50, .margin-bottom-55, .margin-bottom-60, .margin-bottom-100 {
  clear: both;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-25 {
  margin-bottom: 25px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-bottom-35 {
  margin-bottom: 35px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-bottom-45 {
  margin-bottom: 45px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.margin-bottom-55 {
  margin-bottom: 55px;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}
.margin-bottom-100 {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .sm-margin-bottom-10 {
    margin-bottom: 10px;
  }
  .sm-margin-bottom-20 {
    margin-bottom: 20px;
  }
  .sm-margin-bottom-30 {
    margin-bottom: 30px;
  }
  .sm-margin-bottom-40 {
    margin-bottom: 40px;
  }
  .sm-margin-bottom-50 {
    margin-bottom: 50px;
  }
  .sm-margin-bottom-60 {
    margin-bottom: 60px;
  }
}
@media (max-width: 992px) {
  .md-margin-bottom-10 {
    margin-bottom: 10px;
  }
  .md-margin-bottom-20 {
    margin-bottom: 20px;
  }
  .md-margin-bottom-30 {
    margin-bottom: 30px;
  }
  .md-margin-bottom-40 {
    margin-bottom: 40px;
  }
  .md-margin-bottom-50 {
    margin-bottom: 50px;
  }
  .md-margin-bottom-60 {
    margin-bottom: 60px;
  }
}
/*--------------------- END SPACES -----------------------*/
.navbar {
  border: 1px solid #e1e1e1;
}
.navbar-light .navbar-text a {
  color: #fff;
}
.navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus, .navbar-light .navbar-text a:focus:active {
  color: #fff;
}
.navbar-brand img {
  height: 44px;
  width: auto;
}
* {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
html, body {
  overflow-x: hidden;
}
body {
  font-family: 'Roboto', sans-serif;
}
.browsehappy span {
  display: block;
  padding: 30px;
  text-align: center;
  font-size: 26px;
}
[v-cloak] {
  display: none;
}
.full-width {
  width: 100%;
}
.hover-effect {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.aligncenter {
  height: auto;
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}
img.size-full {
  max-width: 100%;
}
img.small-feature-image {
  width: 64px;
  height: 64px;
}
.light-title {
  font-weight: 300;
}
.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.hidden {
  display: none;
}
.a-vote {
  position: absolute;
  top: 10px;
  right: 12px;
  line-height: 1;
  font-size: 1.5rem;
  color: #f95252;
}
.a-vote:hover {
  color: #ff4242;
}
.footer-page {
  padding: 30px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, .03);
}
.share {
  margin: 20px 0;
  padding: 15px 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.share span {
  margin-right: 15px;
}
.share .social {
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 32px;
  text-align: center;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid #e1e1e1;
}
.share .social:hover {
  background: #ccc;
}
.share .social:last-child {
  margin-right: 0;
}
.share .social.share-facebook {
  background: #4267b2;
  border-color: #4267b2;
  color: #fff;
}
.share .social.share-facebook:hover {
  background: #fff;
  color: #4267b2;
}
.share .social.share-twitter {
  background: #4ab3f4;
  border-color: #4ab3f4;
  color: #fff;
}
.share .social.share-twitter:hover {
  background: #fff;
  color: #4ab3f4;
}
.alert-warning {
  border-color: #d0bb7c;
}
.alert-info {
  background-color: rgba(44, 166, 225, 0.4);
}
.border-primary {
  border-color: #f4bc0d !important;
}
.bg-primary-light {
  background: #ffefbc;
}
.sidebar .media {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.sidebar .media:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.sidebar .media h5 {
  font-size: 1.1em;
}
.sidebar .media h5 a {
  color: inherit;
}
.event-body {
  min-height: 300px;
  background: #fff;
  padding: 15px 15px 60px 15px;
  border-radius: 4px;
  border: 1px solid #edd178;
  position: relative;
}
.event-body .__page {
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.item-name {
  color: #b55837;
}
.item-icon {
  border: 1px solid #d29f8d;
  border-radius: 4px;
}
.alert .item-con {
  border-color: #fff;
}
.li-q0 {
  background: #e0f2f1;
}
.li-q1 {
  background: #b2dfdb;
}
@media (max-width: 782px) {
  html #wpadminbar {
    position: fixed;
  }
}
