h1 {
  color: #e6b20d;
}
.row-server-status {
  width: 300px;
  margin: 0 auto;
}
.row-server-status i {
  font-size: 20px;
}
.row-server-status i.ok {
  color: #5ce27b !important;
}
.row-server-status i.failed {
  color: #dc3545 !important;
}
.col-socials .btn {
  width: 45px;
  margin-right: 5px;
}
.col-socials .btn:last-child {
  margin-right: 0;
}
.col-socials i {
  font-size: 20px;
}
.row-rates {
  width: 600px;
  margin: 0 auto;
}
.row-rates span {
  font-size: 24px;
}
.title-information {
  display: inline-block;
}
.ingame-num {
  font-size: 26px;
  color: #f4bc0d;
}
.col-function h2 {
  color: #f4bc0d;
}
.col-function .card, .col-function .card-footer {
  border-color: #e6b20d;
}
@media (max-width: 991.98px) {
  h1 {
    margin-top: 20px;
    text-align: center;
  }
  .col-present {
    text-align: justify;
  }
}
@media (max-width: 767.98px) {
  .row-server-ingame [class*=col-] {
    margin-bottom: 20px;
  }
  .row-server-ingame [class*=col-]:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 575.98px) {
  .row-rates, .row-server-status {
    width: 100%;
  }
  .row-rates .col div:first-child {
    font-size: 13px;
  }
  .row-server-status i {
    display: block;
  }
  .title-server-status {
    margin-bottom: 15px;
  }
}
@media (max-width: 320px) {
  .row-rates .col div:first-child {
    font-size: 10px;
  }
}
