.w-banner {
  border-bottom: 1px solid #e1e1e1;
}
.section {
  border-bottom: 1px solid #e1e1e1;
}
.row-rates {
  width: 600px;
  margin: 0 auto;
}
.row-rates .col div:nth-child(1) {
  color: #2ba6e1;
}
#section-1 .w-img-1 {
  text-align: center;
  margin-bottom: 50px;
}
#section-1 .w-img-1 img {
  display: inline-block;
  width: 300px;
  height: auto;
}
#section-1 .short-description .w-title-ro {
  display: inline-block;
  padding: 15px 20px;
  color: #f4bc0d;
  border: 1px solid #e6b20d;
  margin-bottom: 30px;
}
#section-1 .short-description p {
  padding: 0 250px;
}
#section-2 {
  border-bottom: 0;
}
#section-2 .content-padding {
  padding: 300px 0;
}
#section-2 h3 {
  color: #fff;
}
#section-3 .row-job-1 {
  padding-bottom: 100px;
}
#section-3 .row-job-1 .row-img-job {
  padding-right: 50px;
}
#section-3 .row-job-2 {
  padding-top: 100px;
}
#section-3 .content-padding {
  padding: 100px 0 100px;
}
#section-3 .title-job {
  margin-bottom: 30px;
}
#section-3 .title-job h2 {
  color: #f4bc0d;
}
#section-3 .title-job h3 {
  color: #2ba6e1;
}
#section-3 .content-job {
  padding-left: 100px;
  padding-right: 30px;
}
#section-3 .row-img-job #soul-reaper, #section-3 .row-img-job #star-emperor {
  height: 380px;
  width: auto;
}
#section-4 h2 {
  margin-bottom: 50px;
}
#section-4 .content-section-4 {
  padding: 200px 0;
}
#section-4 .short-description {
  color: #fff;
}
#section-4 #ifrit {
  width: 150px;
  height: auto;
}
#section-5 h2 {
  margin-bottom: 60px;
  color: #2ba6e1;
}
#section-5 .w-relative-daily {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
}
#section-5 .sub-daily {
  position: absolute;
}
#section-5 #daily-26 {
  bottom: 0;
  right: 206px;
}
#section-5 #daily-27 {
  bottom: 0;
  right: 95px;
}
#section-5 #daily-28 {
  bottom: 0;
  right: 0;
}
#section-5 .will-show {
  display: none;
}
#section-5 .lead {
  text-align: left;
}
#section-6 h2 {
  margin-bottom: 100px;
  color: #2ba6e1;
}
#section-6 .instance-title {
  text-align: center;
}
#section-6 h3 {
  font-size: 18px;
  margin: 10px 0;
}
#section-6 h4 {
  font-size: 14px;
  font-weight: 300;
}
#section-6 .owl-nav {
  text-align: center;
  margin-top: 40px;
}
#section-6 .owl-carousel .owl-nav .owl-next, #section-6 .owl-carousel .owl-nav .owl-prev {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #ccc;
  line-height: 30px;
  border-radius: 50%;
  margin: 0 5px;
  opacity: 0.7;
}
#section-6 .owl-carousel .owl-nav .owl-next:hover, #section-6 .owl-carousel .owl-nav .owl-prev:hover {
  opacity: 1;
}
.refine-section {
  opacity: 0;
  visibility: hidden;
}
.refine-section.loaded {
  opacity: 1;
  visibility: visible;
}
.refine-section h2 {
  margin-bottom: 100px;
  color: #2ba6e1;
}
.refine-section .help-text-refine {
  font-size: 16px;
  margin-bottom: 20px;
}
.row-refine {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -khtml-display: flex;
  display: flex;
}
.col-refine-main {
  -webkit-flex-basis: 256px;
  -moz-flex-basis: 256px;
  -ms-flex-basis: 256px;
  -o-flex-basis: 256px;
  -khtml-flex-basis: 256px;
  flex-basis: 256px;
  width: 256px;
  position: relative;
}
.col-refine-slots {
  position: relative;
}
.col-refine-slots .first-material-slot {
  position: absolute;
  cursor: pointer;
  width: 188px;
  height: 60px;
  top: 13px;
  left: 6px;
}
.col-refine-slots .first-material-slot.selected {
  display: inline-block;
  background: url("../images/refine/refine-slot/slot_select_00.bmp") no-repeat;
  background-size: 100%;
}
.material-slot .elu {
  position: absolute;
  top: 17px;
  left: 18px;
}
.material-slot .material-quantity {
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1);
  position: absolute;
  top: 30px;
  left: 35px;
  font-size: 11px;
}
.material-slot .material-name {
  position: absolute;
  top: 28px;
  left: 56px;
  font-size: 14px;
}
.material-slot.selected .material-name {
  color: #fff;
}
.refine-success, .refine-failed {
  position: absolute;
  font-size: 14px;
  top: 24px;
  left: calc(50% + 6px);
  transform: translateX(-50%);
  color: #fff;
}
.refine-success .refine-success-percent, .refine-failed .refine-success-percent {
  color: #fbbe77;
}
.refine-failed {
  color: #da7d7d;
}
.refine-btn {
  position: absolute;
  left: 51%;
  bottom: 10px;
  transform: translateX(-50%);
  cursor: pointer;
}
.refine-btn .btn-press, .refine-btn .btn-back-press, .refine-btn .btn-refine-back {
  display: none;
}
.refine-btn:active .btn-state {
  display: none;
}
.refine-btn:active .btn-press {
  display: inline-block;
}
.refine-btn.has-back .btn-refine-back {
  display: inline-block;
}
.refine-btn.has-back .btn-press {
  display: none !important;
}
.refine-btn.has-back:active .btn-back-press {
  display: inline-block;
}
.refine-btn .text-refine-btn {
  position: absolute;
  top: 5px;
  font-size: 14px;
  width: 100%;
  text-align: center;
  color: #ccc;
}
.refine-btn .text-refine-btn.refine-text-light {
  color: #fff;
}
.refine-btn .text-refine-btn.refine-text-back {
  top: 16px;
}
.refine-btn .price-label {
  position: absolute;
  top: 29px;
  left: 45%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 12px;
}
.refine-main-slot {
  position: absolute;
  top: 101px;
  left: 50%;
  transform: translateX(-50%);
}
.refine-main-name {
  position: absolute;
  top: 145px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 13px;
}
.refine-selected-material {
  position: absolute;
  bottom: 108px;
  left: 55px;
}
.refine-selected-material .material-quantity {
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1);
  position: absolute;
  top: 15px;
  left: 14px;
  font-size: 11px;
}
.w-slots .slot-item {
  position: relative;
  padding: 15px 15px;
  border: 1px solid #e1e1e1;
  margin: 0 15px 15px;
}
.w-slots .slot-item span {
  position: absolute;
  bottom: 5px;
  left: 36px;
  font-size: 12px;
}
.w-slots .slot-item.choose {
  cursor: pointer;
}
.w-slots .slot-item.selected {
  background: #9cacea;
}
.refine-speed {
  margin-bottom: 30px;
}
#congrats {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  position: fixed;
  top: calc(50% - 50px);
  width: 550px;
  height: 100px;
  line-height: 1;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
}
#title {
  opacity: 0;
  visibility: visible;
  transform-origin: 50% 50%;
  font-size: 50px;
  font-family: 'Sigmar One', cursive;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
}
.particle {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 1;
  font-size: 30px;
}
.star {
  color: #fc0;
}
.blob {
  background: #d5f2ff;
  background: rgba(255, 204, 0, 0.25);
  border-radius: 50%;
  display: block;
}
#section-8 .title-pet-evo {
  margin-bottom: 100px;
}
#section-8 h2 {
  margin-bottom: 50px;
  color: #2ba6e1;
}
#section-8 .w-pet-imgs {
  position: relative;
  width: 92px;
  margin: 0 auto;
}
#section-8 .pet-normal {
  margin-bottom: 30px;
}
#section-8 .pet-normal img {
  border: 1px solid #e6b20d;
  margin-bottom: 5px;
}
#section-8 .pet-normal .progress {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  width: 100%;
  border-radius: 0;
}
#section-8 .pet-normal .progressbar {
  font-size: 10px;
}
#section-8 .pet-name {
  font-size: 14px;
  margin-bottom: 10px;
  color: #f4bc0d;
}
#section-8 .progress-bar {
  background: #e6b20d;
}
#section-8 .row-pet {
  padding: 30px 0;
  border-bottom: 1px solid #e1e1e1;
}
#section-8 .row-pet h4 {
  font-size: 20px;
  color: #2ba6e1;
}
#section-8 .row-pet:first-child {
  border-top: 1px solid #e1e1e1;
}
#section-8 .col-pet-right {
  border-left: 1px solid #e1e1e1;
}
#section-8 .pet-evo-info {
  margin-bottom: 50px;
}
#section-8 .pet-evo-info strong {
  color: #2ba6e1;
}
#section-8 .pet-stats li {
  font-size: 12px;
}
#section-8 .list-pets {
  margin-bottom: 100px;
}
#section-8 .evo-text-footer {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
}
#section-8 .each-item span {
  font-weight: 300;
}
#section-8 .col-pet-left .col {
  border-right: 1px solid #e1e1e1;
}
#section-8 .col-pet-left .col:last-child {
  border-right: 0;
}
.pet-evolution-section {
  display: none;
}
.pet-evolution-section.loaded {
  display: block;
}
#logo-on-banner img {
  opacity: 0.8;
}
.cbp-caption-activeWrap h3 {
  margin-bottom: 0;
  font-size: 1.2em;
  padding: 5px 0;
  text-align: center;
}
@media (max-width: 1199px) {
  .#section-1 .short-description p {
    padding: 0 200px;
  }
}
@media (max-width: 991px) {
  #section-1 .short-description p {
    padding: 0;
  }
  #section-2 h3 {
    font-size: 24px;
  }
  #section-3 img {
    height: 150px;
  }
  #section-3 .content-job {
    padding-left: 50px;
  }
  #section-5 #daily-26 {
    bottom: 0;
    right: 189px;
    width: 98px;
  }
  #section-5 #daily-27 {
    bottom: 0;
    right: 87px;
    width: 103px;
  }
  #section-5 #daily-28 {
    bottom: 0;
    right: 0;
    width: 89px;
  }
  .row-refine {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -khtml-justify-content: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .help-text-refine {
    text-align: center;
  }
  .w-slots {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -khtml-justify-content: center;
    justify-content: center;
  }
  .col-refine-left {
    order: 1;
  }
  .col-refine-right {
    order: -1;
  }
}
@media (max-width: 767px) {
  .row-rates {
    width: 100%;
  }
  .row-rates .col div:nth-child(1) {
    font-size: 1rem;
  }
  .row-rates .col {
    -webkit-flex-basis: 50%;
    -moz-flex-basis: 50%;
    -ms-flex-basis: 50%;
    -o-flex-basis: 50%;
    -khtml-flex-basis: 50%;
    flex-basis: 50%;
    width: 50%;
    margin-bottom: 20px;
  }
  #section-3 .title-job {
    text-align: center;
  }
  .row-img-job {
    margin-bottom: 40px;
  }
  #section-3 .content-padding {
    padding: 100px 0 50px;
  }
  #section-5 .will-hide {
    display: none;
  }
  #section-5 .will-show {
    display: block;
  }
  #section-6 h3 {
    font-size: 16px;
  }
  #section-8 .col-pet-right {
    border-left: 0;
    order: -1;
  }
  #section-8 .col-pet-left {
    border-left: 0;
    order: 1;
  }
  .ingredients {
    margin-bottom: 30px;
  }
  #section-8 .pet-evo-info {
    margin-bottom: 30px;
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  #section-2 h3 {
    padding: 0 15px;
    line-height: 1.4;
    font-size: 20px;
  }
  .row-refine {
    zoom: 0.6;
  }
  #section-8 .col-pet-left .col {
    border-right: 0;
    margin-bottom: 20px;
  }
  #section-3 .row-img-job #soul-reaper, #section-3 .row-img-job #star-emperor {
    height: 250px;
    width: auto;
  }
  #section-3 .row-job-1 .row-img-job {
    padding: 0 30px;
  }
  #section-3 .row-job-1 {
    padding-bottom: 50px;
  }
}
