.frst-container, .content {
  max-width: 1200px;
  padding: 40px 15px;
  margin: 0 auto;
}
.frst-container {
  margin: 20px auto 0;
}
.mobile-window .frst-container {
  max-width: 678px;
}
.tablet-window .frst-container {
  max-width: 992px;
}
.frst-container.content-right-align, .frst-container.content-left-align {
  max-width: 678px;
}
.page .frst-timeline-style-18 .frst-labels span {
  background: #f4bc0d;
  box-shadow: 0 0 0 2px #e6b20d;
  -webkit-box-shadow: 0 0 0 2px #e6b20d;
}
.page .frst-timeline-style-18 .frst-timeline-content-inner {
  border: 2px solid #2ba6e1;
}
.page .frst-timeline-style-18.frst-alternate .frst-odd-item .frst-timeline-content-inner::before {
  border-left-color: #2ba6e1;
}
.page .frst-timeline-style-18 .frst-timeline-content-inner::before {
  border-right-color: #2ba6e1;
}
.page .frst-timeline-style-18 .frst-timeline-img {
  color: #2ba6e1;
}
.page .frst-timeline-style-18 .frst-timeline-img span {
  box-shadow: 0 0 0 2px #2ba6e1;
  -webkit-box-shadow: 0 0 0 2px #2ba6e1;
}
.page .frst-timeline-style-18 .frst-timeline-block::before {
  background: #239ad4;
}
.page .frst-timeline-style-18 h2 {
  color: #2ba6e1;
  font-weight: 400;
}
.page .frst-timeline-style-18 p {
  font-weight: 300;
  color: #000;
}
.page .frst-timeline-style-18 .frst-timeline-block.active .frst-timeline-content-inner {
  border-color: #f4bc0d;
}
.page .frst-timeline-style-18 .frst-timeline-block.active .frst-timeline-content-inner:before {
  border-right-color: #f4bc0d !important;
}
.page .frst-timeline-style-18.frst-alternate .frst-timeline-block.active.frst-odd-item .frst-timeline-content-inner::before {
  border-left-color: #f4bc0d !important;
}
.page .frst-timeline-style-18 .frst-timeline-block.active .frst-timeline-img {
  color: #f4bc0d;
}
.page .frst-timeline-style-18 .frst-timeline-block.active .frst-timeline-img span {
  box-shadow: 0 0 0 2px #f4bc0d;
  -webkit-box-shadow: 0 0 0 2px #f4bc0d;
}
@media (max-width: 575.98px) {
  .frst-timeline-style-18 {
    margin-left: 22px;
  }
  .frst-timeline-block {
    padding-right: 0;
  }
  .frst-timeline-style-18 .frst-timeline-img {
    left: -5px;
  }
  .frst-timeline-img {
    left: -6px;
  }
  .frst-timeline-style-18 .frst-timeline-content-inner img {
    float: none;
    margin-bottom: 10px;
  }
  .frst-timeline-style-18 .frst-date {
    font-size: 10px;
  }
  .frst-timeline-style-18 .frst-timeline-content-inner {
    padding: 16px;
  }
  .frst-timeline-style-18 .frst-timeline-content-inner .text-content {
    left: 0;
  }
}
