.app-tai-khoan .table {
  margin-bottom: 0;
}
.app-tai-khoan .table td {
  padding-left: 20px;
  padding-right: 20px;
}
.app-tai-khoan .col-characters h2 {
  font-size: 24px;
}
.app-tai-khoan .col-character {
  margin-bottom: 30px;
}
.app-tai-khoan .col-character:last-child {
  margin-bottom: 0;
}
.app-tai-khoan .box-character {
  position: relative;
  border: 1px solid #f4bc0d;
}
.app-tai-khoan .box-character .w-basic-char-info {
  padding-left: 73px;
  text-align: left;
}
.app-tai-khoan .box-character h4 {
  font-size: 1.2rem;
  padding-top: 10px;
  margin-bottom: 4px;
}
.app-tai-khoan .box-character h5 {
  font-size: 14px;
}
.app-tai-khoan .box-character h6 {
  color: #2ba6e1;
}
.w-gender {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #f4bc0d;
  border-right: 1px solid #f4bc0d;
}
.w-gender .w-gender-img {
  height: 60px;
  width: 62px;
  line-height: 60px;
  text-align: center;
}
.w-level {
  font-size: 0.8rem;
  position: absolute;
  top: 60px;
  left: 0;
  width: 63px;
  padding: 5px;
  background: #f4bc0d;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -khtml-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -khtml-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -khtml-justify-content: center;
  justify-content: center;
}
.cbp-caption .cbp-caption-activeWrap {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -khtml-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -khtml-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -khtml-justify-content: center;
  justify-content: center;
}
.cbp-caption h3 {
  font-size: 0.8em;
  color: #fff;
  text-align: center;
}
.delete-img {
  background: transparent;
  padding: 0;
  height: 32px;
  width: 32px;
  line-height: 5px;
  color: red;
  border: 1px solid #fff;
  border-top: 0;
  border-right: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}
.delete-img:hover {
  background: red;
  color: #fff;
}
@media (max-width: 991.98px) {
  .col-personal {
    margin-bottom: 30px;
  }
}
