.w-table-chars {
  min-height: 400px;
}
.w-table-chars h3 {
  margin-bottom: 20px;
}
.clipboard {
  cursor: pointer;
}
.i-status {
  height: 8px;
  width: 8px;
  display: inline-block;
  margin: 0;
  border-radius: 50%;
}
.col-online {
  width: 70px;
}
.col-action {
  width: 114px;
}
.i-online {
  background: #2ecc71;
}
.i-offline {
  background: #cf000f;
}
