h1 {
  margin-bottom: 15px;
}
.page-title {
  margin-bottom: 30px;
}
.page-title .small {
  color: #2ba6e1;
}
.card-title a {
  color: #000;
  font-weight: 400;
}
.card-title a:hover {
  color: #6c757d;
}
.card-img-top {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #e1e1e1;
}
@media (max-width: 767.98px) {
  .page-title {
    font-size: 20px;
  }
  .card-title a {
    color: #000;
    font-size: 22px;
  }
  .card-title {
    line-height: 28px;
  }
}
